/*!
*
*
*
*
* start custom stylesheets
*
*
*
*
*
*/


// vars
brand0 = rgba(26,26,26,1.0) //#231f20
brand1 = rgba(200,16,46,1.0) //#c8102e
brand2 = rgba(0,0,0,1.0) //#
brand3 = rgba(35,31,32,1.0) //#

white = rgba(255,255,255,1.0)
whiteAlp90 = rgba(255,255,255,0.9)
whiteAlp75 = rgba(255,255,255,0.75)
whiteAlp50 = rgba(255,255,255,0.5)
whiteAlp25 = rgba(255,255,255,0.25)
whiteAlp10 = rgba(255,255,255,0.1)
whiteAlp05 = rgba(255,255,255,0.05)

black = rgba(0,0,0,1.0)
blackAlp85 = rgba(0,0,0,0.85)
blackAlp75 = rgba(0,0,0,0.75)
blackAlp55 = rgba(0,0,0,0.55)
blackAlp50 = rgba(0,0,0,0.5)
blackAlp25 = rgba(0,0,0,0.25)
blackAlp10 = rgba(0,0,0,0.1)
blackAlp5 = rgba(0,0,0,0.05)

halfDark = rgba(0,0,0,0.45)
lightGrey = rgba(222,222,222,1.0)
mainBG = rgba(255,255,255,1.0)

warning = rgba(255,0,0,1.0)
caution = rgba(200,120,0,1.0)
ok = rgba(0,200,120,1.0)


padXL = 7vw
padL = 5vw
padM = 3vw
padStd = 1.8vw
padXS = 1.5vw
padXXS = 0.8vw

marXL = 7vw
marL = 5vw
marM = 3vw
marStd = 1.8vw
marXS = 1.5vw
marXXS = 0.8vw



fontStack = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

//responsive breakpoint & media queries
mBreakPoint = 750px
tBreakPoint = 1100px
sdBreakPoint = 1400px
dBreakPoint = 1600px
lgBreakPoint = 1900px

phoneRule = "screen and (max-width: mBreakPoint )"
tabletRule = "screen and (min-width: mBreakPoint) and (max-width: tBreakPoint )"
desktopRule = "screen and (min-width: tBreakPoint) and (max-width: dBreakPoint )"
lgdesktopRule = "screen and (min-width: dBreakPoint)"

smallDesktop = "screen and (min-width: tBreakPoint) and (max-width: sdBreakPoint )"


mtrigger = "screen and (max-width: tBreakPoint )"
ttrigger = "screen and (min-width: mBreakPoint )"
dtrigger = "screen and (min-width: tBreakPoint )"

phLandscape = "screen and (max-width: mBreakPoint) and (orientation: landscape)"
tbLandscape = "screen and (min-width: mBreakPoint) and (max-width: tBreakPoint) and (orientation: landscape)"

ie = "all and (-ms-high-contrast: none), (-ms-high-contrast: active)"

$hideItAll = none !important

// responsive logos
logoDimens = 40vw


// misc blocks
marginNo = @block {
    margin: 0
}
marginM = @block {
    margin-bottom: 2vh
}
marginL = @block {
    margin-left: 2vw
}
marginR = @block {
    margin-right: 2vw
}
marginT = @block {
    margin-bottom: 4vh
}
marginBT = @block {
    margin-bottom: 1.5vh
}
marginVT = @block {
    margin-top: 2vh
    margin-bottom: 2vh
}
marginALL = @block {
    margin: 2vh
}
wh100 = @block {
    width:100%
    height:100%
}
test = @block {
    border:1px solid cyan
}
test1 = @block {
    border:1px solid red
}
test2 = @block {
    border:1px solid green
}
borderBtm = @block {
    border-bottom: 1px solid brand1
}

// heights
fullH = 100vh - 8vh
largeH = 75vh
halfH = 50vh
smallH = 25vh

navHeight = 8vh
navHeightL = 11vh
navSpacer = 10vh
navSpacerL = 15vh


// basic defaults
html, body
    width: 100%
    height: 100%
    font-family: 'twk', fontStack
body
    font-size: 16px
    font-weight: 300
    // background: linear-gradient(top, white, brand1)
body
    background-color: mainBG
    color: brand3
hr
    border: none
    border-bottom: 1px solid brand0
    margin:1em 0
hr.brand1
    border: none
    border-bottom: 1px solid brand1
    margin:1em 0
section hr
    margin:3.5em 0
footer hr
    border-color: brand1
.noPad
    padding: 0 !important
.noPadTop
    padding-top: 0 !important 
.noPadBottom
    padding-bottom: 0 !important  
.noMarginTop
    margin-top: 0 !important 
.noMarginBottom
    margin-bottom: 0 !important  
.forcePadTopL
    padding-top: padL !important 
.forcePadBottomL
    padding-bottom: padL !important 
.forcePadTopM
    padding-top: padM !important 
.forcePadBottomM
    padding-bottom: padM !important 
.forcePadTop
    padding-top: padStd !important 
.forcePadBottom
    padding-bottom: padStd !important 
.pullUp
    position: relative
    margin-top: -50vh * 0.30 !important
    @media mtrigger 
        margin-top: 0 !important
        padding-top:5vw
        padding-bottom: 0
.bumpLineHeight
    line-height: 200% !important  
.inline
    display: inline
.brand0
    color: brand0 !important
.brand1
    color: brand1 !important
.brand2
    color: brand2 !important
.brand3
    color: brand3 !important
.vertBorder
    border-left: 1px solid brand1
    @media mtrigger
        border-top: 1px solid brand1
        border-left: none
        margin-top: 5vh
@media phoneRule       
    div.mastheadSlider div.content .brand1
        color: white !important
// force same-height 
.slick-track
{
    display: flex !important;
}
.slick-slide
{
    height: inherit !important;
}
.slick-slide,
.slick-slide > div
{
    height: 100% !important;
    margin-bottom: -3px
}