

// icons
.icon
    background-color: brand1
    border: 2px solid brand1
    display: flex
    justify-content: center
    align-items: center
    width: 45px
    height: 45px
    padding:0.2em
    font-size: 1.4em
    border-radius: 50%
.icon,
.icon::before 
    color: white
.icon.alt
    background-color: brand0
    border-color: brand0
a.icon 
    text-decoration: none
a.icon.inline-icons
    display: inline-flex
.ic
    font-size:200%
    line-height: 75%
    color: brand1
    text-decoration: none
.smallIcon
    font-size:0.6em
    opacity: 0.4
    padding: 1px
    top: -0.5em
    position: relative
.hintTrigger:hover
    cursor: pointer

ul.iconRow
    padding: 0
    margin: 0
ul.iconRow,
ul.iconRow li
    list-style-type: none
ul.iconRow li
    margin: marXXS marXXS*0.25
    padding: padXS*0.75 padXS*0.75 padXS*0.75 padXXS*0.5
    display: inline-block
    border-right:1px solid blackAlp25
ul.iconRow li:first-child
    margin-left: 0
    padding-left: 0
ul.iconRow li:last-child
    border-right:none
    padding-right:0
    margin-right:0
ul.iconRow li i 
    font-size: 1.4em
   



// ctas
a.ctaButton
    padding: 0.85em 1.3em
    //border-radius: 3em
    background: brand1
    color: white
    font-weight:700
    border: 2px solid brand1
    display: inline-flex
    justify-content: space-between
    text-decoration: none
    column-gap: 3vw
    transition: 0.5s
nav a.ctaButton
    background:none
    color:brand1 !important
    margin-left: marXXS
    margin-right: marXXS
    margin-bottom: 0
    padding:padXXS*.75 padXS
a.ctaButton i:before
    color: white
a.ctaButton:hover,
a.ctaButton:hover > i:before,
a.icon:hover
    background: none
    color: brand0 !important
    border-color: brand0 !important
    border-bottom-color: brand0 !important
    transition: 0.5s 
a.ctaButton:hover i
    margin-left:5px
    transition: 0.5s 



// inverted icon style
.inv,
.inv:before,
a.ctaButton.inv,
a.ctaButton.inv i:before 
    background: none
    border-color: brand1
    color: brand1
.alt.inv,
.alt.inv:before,
a.icon.inv:hover
    background: none
    border-color: brand0
    color: brand0




// live chat styling
#ChatStatusLoading
    color: whiteAlp50
#ChatStatusOnline
    color: ok
#ChatStatusOffline
    color: warning





.imgText
    display: inline-flex
    padding-right: 1.5vw
    align-items: center
    justify-content: flex-start
header.sticky .imgText
    display: flex
    align-items: center
.siteLogo
    font-size: 16px
    line-height: 18px
    //max-width:70vw
.txtC .txtC_Pr
    font-size: 0.9em
    font-weight: 700
    line-height: 1.2em
    margin: .1em 0
    margin-right: 5px
    @media phoneRule
        font-size: .85em
.txtC .txtC_Sc
    font-size: .65em
    font-weight: 500
    line-height: 1.2em
    @media phoneRule
        font-size: .5em
        //display: none
  
.imgText span.txtC
    display: flex
    flex-direction: column
    justify-content: center 
    padding: 5px
    padding-left:20px

header.sticky .imgText span.txtC
    //flex-direction: row
    align-items: baseline

.imgText span.txtC > span
    //white-space: nowrap   
.imgText picture
    display: flex
    width: 100%  
    height: 100% 
    //margin-right: 10px

.imgText picture img
    width: 100%
    height: auto

.imgText.tall span.txtC
    justify-content: flex-end   

.imgText.stacked
    flex-direction: column
.imgText.stacked span.txtC
    padding: 0
    padding-left: 5px 
.imgText.stacked picture 
    margin-right: 0
    margin-bottom: 10px


picture.logoAsset
    width:130px
    height:50px
    
img.lozenge
    max-width:90px





header.sticky .imgText.stacked
    flex-direction: row
header.sticky .imgText.stacked picture
    margin-bottom: 0

// logos
.brandLogo
    height:60px
    width: auto
    max-width:200px
section.brandLogo
    height:auto
    width:auto
    max-width:auto
section.brandLogo img.brandLogo
    height:80px
    max-width:250px
.side-by-side img.brandLogo
    height:45px
    width: auto
    max-width:130px
.mLogo picture
    margin-right: 10px
    max-width:100% !important
.mLogo img
    max-height:8vh !important
    width:auto !important
.mLogo.long 
    flex-direction: column
.mLogo.long picture 
    max-width:150px !important
    @media phoneRule
        margin-bottom: 0px
.mLogo.long img
    max-height:100% !important
    max-width:150px !important

.logoStrip > *
    margin: 0 3em 0 3em  
.logoStrip.left > *
    margin-left: 0
@media phoneRule
    .logoStrip > *
        margin: 0.5em 1.5em 0.5em 1.5em


.inpage-logo
    display: block
    width: 50vw
    height: auto 
.inpage-logo-stacked
    display: block
    width: 50vw
    height: auto      
@media ttrigger    
    body > footer img.logo
        width: 5vw
    .inpage-logo
        width: 30vw
    .inpage-logo-stacked
        width: 30vw    
@media dtrigger    
    .inpage-logo
        width: 25vw
    .inpage-logo-stacked
        width: 10vw


.grid-clients
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr))
  grid-gap: 5px

.grid-clients > div
  padding: 1vw
  display: grid
  place-items: center
  border:1px solid blackAlp10

.grid-clients > div::before
  content: ""
  display: block
  padding-bottom: 100%
  grid-area: 1 / 1 / 2 / 2

.grid-clients > div img
  width: 100%
  grid-area: 1 / 1 / 2 / 2



// misc
i.block
    display: inline-block
    font-size:1em
    line-height: 100%
    font-weight: 900
.faded
    opacity:0.4   
    transition: 0.3s 
.rotateIC
    transition: 0.2s
    transform: rotate(180deg)


// video
.pbVideo
    position: relative
    padding-bottom: 56.25%
    padding-top: 0
    height: 0
.pbVideo iframe 
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
div.video
    position: relative
div.video > div
    width: 100%
    height: 100%  
.hidden-xs
    display: none
div.vidHolder
    position: absolute
    top: 0
    left: 0px
    width: 100%
    height: 100%
    overflow: hidden
video.hidden-xs
    width: 100%
    height: 100%
    object-fit: cover
@media dtrigger
    video.hidden-xs
        width: 100%
        height: 100%
@media dtrigger
    .hidden-xs
        display: block
       


// images
img 
    width: 100%
    height: auto
    display: block
img.med
    width: 75%
    margin: 0px auto



// caption and quote styling
p.figureCap
    width: auto
    border-left: 2px solid brand1
    padding: padXS padL padM padM
    margin-left: marL*2 
    position relative   
    margin-bottom: marL
p.quote::before
    position: absolute
    content: '\201C'
    left: - + marXS*2.2
    font-weight: 1000
    font-size: 70px
    display: flex
    align-items: flex-end
    height: 40px
    line-height: 15px
@media phoneRule
    p.figureCap
        font-size: 0.8em
    p.quote::before
        left: -40px
        font-size: 60px
        height: 35px
@media tabletRule
    p.figureCap
        width: auto
    p.quote::before
        left: -50px
@media dtrigger
    p.figureCap
        width: 40vw
        padding: padXXS padXS
        margin-left: marXS*2 
        margin-bottom: marL
    p.quote::before
        left: -50px



// slider
div.slider
    //border: 1px solid red
    //overflow: hidden
    background-color: brand1



// inpage nav for desktop
.inpgNv
    text-align: right 
@media phoneRule
    .inpgNv .inpgNvTop
        display: none



// infographics
.gridBoxes 
    display: grid
    justify-content: center
    align-content: center
    grid-template-columns: repeat(2, 27vmin)
    grid-template-rows: repeat(3, 20vmin)
    grid-gap: 1px
.gridBoxes > *
    background-blend-mode: multiply
    background: linear-gradient(to bottom left, rgba(180,0,0,0.8),rgba(180,0,0,1), rgba(190,0,0,0.8), rgba(200,0,0,0.8))        
    padding: 1.2em
.gridBoxes > * > *
    margin: 0.1em

@media phoneRule 
    article.bythenumbers *.picturefill-background
        height: auto
    article.bythenumbers div.content
        flex-direction: column    
    .gridBoxes
        display: block
    .gridBoxes br
        display: none

div.infographic
    position: relative
div.ig-whatisomni
    margin-top: 0
div.ig-whatisomni.end
    margin-bottom: marL    

div.ig-whatisomni div.igHeader,
div.ig-whatisomni div.igContent
    display: flex
    flex:1 1 auto
    justify-content: flex-start
    align-items: stretch
    flex-wrap: nowrap
    @media phoneRule
        flex-direction: column

div.ig-whatisomni div.igContent
    background-color: #fefefe
 
div.ig-whatisomni div.igItem
    padding: padXS padStd
    border-left:1px solid #dedede
    border-bottom:1px solid #dedede
    display: flex
    flex:1 1 auto
    justify-content: flex-start
    align-items: flex-start
    flex-wrap: wrap
    flex-basis: 20%
    @media phoneRule 
        padding: padL padXL
        border-left: none
div.ig-whatisomni div.igItem:last-child 
    border-right:1px solid #cccccc
    @media phoneRule 
        border-right: none
@media phoneRule 
   div.ig-whatisomni div.igItem hr
        display: none

div.ig-whatisomni div.igHeader div.igItem
    padding-bottom: padXXS
    

div.ig-whatisomni div.igItem > div
    padding: padXXS
div.ig-whatisomni div.igItem > div > *
    margin: 0
    line-height: 1.3em
    margin-bottom: marXXS
div.ig-whatisomni div.igItem h5
    padding-bottom: 0
    margin-bottom: 0
div.ig-whatisomni div.igItem.orange h5
    color: #d8481b
div.ig-whatisomni div.igItem.yellow h5
    color: #eb9626   

@media phoneRule 
    div.ig-whatisomni div.igItem h5 > br
        display: none
    div.ig-whatisomni div.igItem p
        margin: marXXS 0


@media dtrigger
    div.ig-whatisomni div.igItem
        flex-direction: column
    div.ig-whatisomni div.igItem > div
        padding-left: 0
        padding-bottom: 0
    div.ig-whatisomni div.igItem > div > *:not(p)
       margin-right: 10px;



/* inView effects */
@media dtrigger
    .greyToColor.onOff .stateInactive
        background-color: blackAlp50 !important
        filter:grayscale(100%)
        transition: 1s
    .greyToColor.onOff .stateActive
        background-color: blackAlp10 !important
        filter:grayscale(0%)
        transition: 2.5s    



/* app store links */
span.storeLinks 
    display: block
span.storeLinks a, 
span.storeLinks a img
    display: block
    max-width:150px
    max-height:40px
span.storeLinks a
    display: inline-block


/* simple list */
ul.featureList li
    list-style-type: none
    line-height:1.5em
    margin-bottom: 0.75em
ul.featureList li strong
    display: inline-block
    min-width:12%

/* form */
#contact label 
    display: block
    line-height: 2em
    margin-bottom: 0.3em
#contact input,
#contact textarea 
    width: 90%
    padding:2%;
    margin-bottom: 1em
#contact input[type=submit]
    width: auto
    padding-left: padStd
    padding-right: padStd

/* Contact form defaults */
#contact #inputContainer #loadingText,
#contact #inputContainer #errorText,
#contact #inputContainer #doneText
    display: none


/* Contact form loading */
#contact #inputContainer.loading #loadingText
    display: block

#contact #inputContainer.loading #submit,
#contact #inputContainer.loading #errorText,
#contact #inputContainer.loading #doneText
    display: none

/* Contact form error */
#contact #inputContainer.error #errorText 
    display: block

#contact #inputContainer.error #submit,
#contact #inputContainer.error #loadingText,
#contact #inputContainer.error #doneText 
    display: none


/* Contact form done */
#contact #inputContainer.done #doneText
    display: block

#contact #inputContainer.done #submit,
#contact #inputContainer.done #loadingText,
#contact #inputContainer.done #errorText 
    display: none




div.thirdparty-logo
    border:1px solid brand1
    background-color: blackAlp5
    padding: padXXS !important



.lightSlider div.slickSlider
    background-color: white
.darkSlider div.slickSlider
    background-color: black

div.slideTextOverlay
    position: absolute
    z-index: 1000
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    padding:0
.lightSlider div.slideTextOverlay
    color: brand0
.darkSlider div.slideTextOverlay
    color: brand1

@media mtrigger
    div.containSlider,
    div.slideTextOverlay.fullH 
        height: auto
        position: relative
        padding-bottom: padXL*2
        background-blend-mode: multiply
        background: radial-gradient(circle at center, blackAlp5,blackAlp5,blackAlp5,blackAlp10, blackAlp25 )
    div.containSlider
        background-image: url(/images/bgs/default-m.jpg)
        background-repeat: no-repeat
        background-size: cover
        padding-bottom: 0
// need to add matchheight.js to force containSlider to
// match height of containSlider at all breakpoints



div.openingTitle 
    //margin-top: navSpacer
    margin-left: marM
    margin-right: marM
    padding: 0 padL padM padL
@media phoneRule
    div.openingTitle 
        width: 75vw
        margin-left: 0
        margin-right: 0
        margin-top: navHeightL
@media ttrigger
    div.openingTitle 
        width: 65vw
        margin-left: 0
        margin-right: 0
        margin-top: navHeightL
@media lgdesktopRule
    div.openingTitle 
         width: 50vw



div.parallaxMe
    background-repeat: no-repeat
    background-size: contain
    width: 100%
    height: 100%
    left:0px
    top:0px
    opacity:0.75


div.parallaxMe.base
    z-index:5

div.parallaxMe.mid
    z-index:15

div.parallaxMe.top
    z-index:25


div.videoLayer
    position: absolute
    width: 100vw
    height: 100vh
    z-index: 10
    align-self: flex-end
    overflow: hidden

div.videoLayerInContent
    position: absolute
    width: 100vw
    height: 100vw
    z-index: 10
    align-self: flex-start
    overflow: hidden
    //border:1px solid red
    left:0

div.videoLayer > div
    //border:1px solid blue
    
div.videoLayer > div.centerInFrame > video   
    height: 100vh
    width: auto
    margin: 0px auto

div.videoLayer > div.offsetBottom
    margin-top: 25vh

div.videoLayer > div.offsetTop
    margin-top: -25vh

div.videoLayer > div.offsetTop2
    margin-top: -12.5vh

div.videoLayer > div.offsetRight
    margin-left: 60vw

div.videoLayer > div.offsetRight2
    margin-left: 45vw


div.videoLayer.videoLayerInContent > div.offsetLeft
    margin-left: -60vw

div.videoLayer.videoLayerInContent > div.offsetRight
    margin-left: 60vw

div.videoLayer > div.offsetLeft
    margin-left: -50vw 

div.videoLayer > div.offsetLeft2
    margin-left: -10vw    

div.videoLayer > div.width-75 > video
    width: 75vw
    height: auto

div.videoLayer > div.width-65 > video
    width: 65vw
    height: auto

div.videoLayer > div.width-100 > video
    width: 100vw
    height: auto

div.videoLayer > div.alignRight
    display: flex
    justify-content: flex-end

body.safari div.videoLayer video#bgvid1,
body.safari div.videoLayer video#bgvid2,
body.safari div.videoLayer video#bgvid3,
body.safari div.videoLayer video#bgvid4
    display: none








//breadcrumb
div.breadcrumb ul
    padding:0
div.breadcrumb ul li
    font-size: 0.65em
    list-style-type: none
    display: inline-block
    text-transform: uppercase
    //padding-right: 5px
    color: whiteAlp75
div.breadcrumb ul li:after
    font-family: 'icomoon'
    content: '\eba5'
    font-size: 0.75em
    color: brand1
div.breadcrumb ul li:last-of-type:after
    content: ''
div.breadcrumb ul li a:link,
div.breadcrumb ul li a:visited
    color: whiteAlp75
    text-decoration: none
    margin-right: 5px
div.breadcrumb ul li a:hover
    color: brand1 !important


// model gallery
div.contentWrapper.modelGallery section:last-of-type 
    position: relative
.galleryHeroImage
    width:100%
    @media dtrigger
        position: absolute
        margin-top:-28vw
div.galleryThumbs
    display: flex
    column-gap: 5px
div.galleryThumbs a
    display: flex
    align-items: center
    flex-basis: 7vw
    border-bottom: 4px solid transparent
    padding: 10px
    padding-bottom: 15px
div.galleryThumbs a.selectedImage
    border-bottom: 4px solid brand1
div.galleryThumbs a img
    transition: 0.3s
div.galleryThumbs a:hover img
    transform: translateY(-0.4em)


// modeldesc
div.longDescription
    margin-bottom: 2.5em
div.longDescription p 
    font-weight: 200
@media ttrigger
    div.longDescription p 
        font-size: 1.25em
    div.longDescription
        max-width: 45vw

// smallPromo
div.smallPromo 
    margin-bottom: 4em
@media lgdesktopRule
    div.smallPromo
        width:80%
div.smallPromo h1
    font-weight: 100
    font-size: 4.75em
    margin-top: 5px
    margin-bottom: 10px
div.smallPromo h6
    font-weight: 300
div.contentWrapper.darkMode div.smallPromo,
div.contentWrapper.darkMode div.smallPromo a
    color: white !important


// enquiry tweaks
div.form > div
    margin-bottom: 1.25em
div.form option,
div.form form textarea
    font-family: 'twk', fontStack


// related items
div.teaserItems
    display: flex
    flex-wrap: nowrap
    column-gap: 3vw
    margin-top: 2em
    margin-bottom: 1em
div.teaserItems a:link,
div.teaserItems a:visited
    color: white
    text-decoration: none
    text-align: center
    font-size: 0.85em
    line-height: 140%
    flex:1 1 10vw
div.teaserItems a
    display: flex
    flex-direction: column
div.teaserItems a > div
    height:7.5vw
    background-position: center
    background-size:contain
    background-repeat: no-repeat
    margin: 1em
    transition: 0.3s
div.teaserItems a:hover > div
    transform: translateY(-0.4em)


// icon Lists
ul.summaryFeatures,
ul.summaryFeaturesSimple
    padding: 0
ul.summaryFeatures li,
ul.summaryFeaturesSimple li
    list-style-type: none
    line-height: 2em
ul.summaryFeatures
    margin-top: 2.5em
    padding-right: 1vw
ul.summaryFeatures li
    display: flex
    justify-content: flex-start
    column-gap: 1vw
ul.summaryFeatures li > span
    flex: 1 1 40%
    white-space: nowrap
ul.summaryFeaturesSimple
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    column-gap: 1vw
    padding-right: 3vw
ul.summaryFeaturesSimple li
    white-space: nowrap
    flex:1 1 auto
ul.summaryFeaturesSimple li span.featureTitle
    display: flex
    align-items: center
ul.summaryFeatures i,
ul.summaryFeaturesSimple i
    font-size:1.5em
ul.summaryFeatures span.featureTitle
    color: brand1
    display: flex
    align-items: center
ul.summaryFeatures span.featureTitle i
    margin-right: 5px
ul.summaryFeatures span.featureTitle:not(i)
    font-weight: 500
.notApplicable
    opacity 0.2
.catItem ul.summaryFeaturesSimple
    margin-bottom: 0
.catItem ul.summaryFeaturesSimple li
    line height 1.4em
    font-size: 80%

div.keyStats
    margin-top: 0em
    //min-height:120px;
    //border-top: 1px solid brand1
div.keyStats span
    text-transform: uppercase
    font-size: 0.75em
    letter-spacing: 0
    font-weight:300
    display: block
    color: brand0    
div.keyStats ul.summaryFeatures
    margin-top: 0.75em
    padding-right: 0
    margin-bottom: 0
div.keyStats ul.summaryFeatures li 
    line-height: 1em
    column-gap: 5px
div.keyStats ul.summaryFeatures li > span
    flex: 0 0 auto
    white-space: nowrap
    display: flex
    align-items: flex-end



// collapsible features
div.collapsibleFeatures
    margin: 1em 0 3.5em 0
    padding-bottom: 0.1em
    border-bottom:1px solid blackAlp10
div.collapsibleFeatures div.featureItemDetail
    padding: 1em 3vw 1.5em 0
    margin-bottom: 2em
div.collapsibleFeatures div.featureItem ul
    margin: 0
div.collapsibleFeatures div.featureItem ul li
    margin-bottom: 1em
    padding-right: 2vw
    color: blackAlp50
div.collapsibleFeatures div.featureItem ul li:last-of-type
    margin-bottom: 0
div.collapsibleFeatures div.featureItem p
    color: brand0
div.collapsibleFeatures div.featureItem a.featureItemTrigger
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 1em
    padding-bottom: 1em
    padding-right: 1em
    text-decoration: none
div.collapsibleFeatures div.featureItem a.featureItemTrigger h6
    font-weight: 300
div.collapsibleFeatures div.featureItem a.featureItemTrigger i
    font-size: 1.2em
    transition: 0.3s
div.collapsibleFeatures div.featureItem a.featureItemTrigger
    border-top:1px solid blackAlp10
div.collapsibleFeatures div.featureItem a.featureItemTrigger.active i
    transform: rotate(45deg)


// cat search
div.search > form
    display: flex
    align-items: center
    flex: 1 1 auto

div.search > form .button
    margin-left: marXXS

div.search > form > div.floating
    flex-basis: 100%
    //min-width:20vw





/* pagination */
div.pagination
    display: flex
    column-gap: 2px

div.pagination > .paginationItem
    width:40px
    height:40px
    display: flex
    align-items: center
    justify-content: center
    font-size:0.9em
    margin-bottom: 0
    padding-top:1px
    //border:1px solid blackAlp25
    //color: blackAlp25
    //border-radius: 2px
    transition:0.3s
div.pagination > .paginationItem.active
    background-color: brand0
    border-color: brand0
    color: white
div.pagination > .paginationItem:hover
    text-decoration: none
div.pagination > .paginationItem:hover:not(.active)
    text-decoration: none
    background-color: brand0
    border-color: brand0
    color: white
div.pagination > .paginationItem.inactive
div.pagination > .paginationItem.inactive:hover
    text-decoration: none
    background: none
    color: blackAlp50
    display: none
div.pagination > .paginationItem:first-child,
div.pagination > .paginationItem:last-child
    padding-top:0px
    border:none
div.pagination a
    text-decoration: none
div.paginationCtrl
    margin-bottom: 3em
@media phoneRule
    div.paginationCtrl
        flex-direction: column
        row-gap: 1em
        padding-bottom: padStd
    div.paginationCtrl > div
        text-align: center
    div.paginationCtrl div.forms  
        margin-bottom: 5px
    div.pagination
        flex-wrap: wrap
        justify-content: center
        column-gap: 4px
    div.pagination > .paginationItem
        background-color: blackAlp5
        margin-bottom: 4px
    div.pagination > .paginationItem
        width:34px
        height:34px





// masthead backgrounds
body.landing div.masthead div.content
    background-image: url(/images/misc/arrowoverlay1.webp)
    background-size: cover
    background-repeat: no-repeat
    background-position: 50% 50%
body.catg div.masthead div.content
    background-image: url(/images/misc/arrowoverlay1.webp)
    background-size: cover
    background-repeat: no-repeat
    background-position: 50% 50%
body.model div.masthead div.content
    background-image: url(/images/misc/arrowoverlay1.webp)
    background-size: cover
    background-repeat: no-repeat
    background-position: 50% 50%





// picturefill overrides
.picturefill-background
    overflow hidden
    background-size: contain
    background-position: 150% 50%
.picturefill-background.containMob
    @media mtrigger
        background-size: contain
        background-position: 50% 0
    
div.masthead.picturefill-background
    background-size: contain
    background-position: 130% 50%
.picturefill-background.noOffset
    background-size: cover
    background-position: 50% 50%
.picturefill-background.offset100
    background-position: 100% 50%
.picturefill-background.offset125
    background-position: 125% 50%
.picturefill-background.offset150
    background-position: 150% 50%
.picturefill-background.offset175
    background-position: 175% 50%



//landing sliders
// overlay content over slider
.staticOverlayContent,
.staticOverlayContent2
    background: none !important
    position: absolute
    z-index: 1000
    width: 100%

div.mastheadSlider section > *
    //{test}
div.mastheadSlider
    background-color: brand0
div.mastheadSlider.withOverlay div.innerContent section:first-child
    padding-top: 3vh
    margin-bottom: 4vh
    margin-top: 35vh
    //{test}
div.mastheadSlider.withOverlay div.innerContent section:first-child > *
    max-width: 90%
div.staticOverlayContent div.innerContent section:first-child
    margin-bottom: 40.5vh
    padding-bottom: 0
    padding-top: 10vh
    display: flex
    align-items: flex-end
div.staticOverlayContent div.innerContent section:first-child > div
    border-bottom:1px solid whiteAlp25
    padding-bottom: 3.5vh
@media dtrigger
    div.mastheadSlider section.inset
        padding-left: 15vw
        padding-right: 15vw
    body.landing div.mastheadSlider:not(.withOverlay) section.rS:first-child,
    .staticOverlayContent2 section.rS:first-child
        padding-top: smallH - padXL






// inpage teasers
.bodyContent div.inpageTeaserBg
    margin-top: 6em
    margin-bottom: 6em
    //{test}
div.inpageTeaserBg div.content
    min-height: 20vw
    display: flex
    align-items: center
div.inpageTeaserBg div.content
    background-size: cover
    background-position: 100% 50%
    background-repeat: no-repeat
    padding: padXXS 45% padStd padM
div.inpageTeaserBg.theme-brand0,
div.inpageTeaserBg.theme-brand1
    color: white
div.inpageTeaserBg h3
    margin-bottom: 0.3em

div.inpageTeaserBg.theme-brand1 a.ctaButton
    color: brand1
    background-color: white
    border-color: white
div.inpageTeaserBg.theme-brand1 a.ctaButton:hover
    background-color: brand1
    border-color: white !important
    color: white !important
div.inpageTeaserBg.theme-brand0 a.ctaButton:hover
    background-color: brand0
    border-color: white !important
    color: white !important

.sidebar-Teaser
    margin: 2em 0 3em 0
.side-by-side
    display: flex
    justify-content: space-between
    align-items: flex-end
    //border-bottom: 1px solid brand1
    padding-bottom: 0.75em
    margin-bottom: 1em
.side-by-side > *:last-child
    margin-right: 1em



// careers cards
div.locationsCareers svg circle
    fill: #c8102e

div.locationsCareers
    width: 96px
    height: 120px
    background-image: url(/images/careers/locationsCareersDefault.svg)
    background-position: center
    position: absolute
    right: padXS
div.locationsCareers.north
    background-image: url(/images/careers/locationsCareersNorth.svg)
div.locationsCareers.south
    background-image: url(/images/careers/locationsCareersSouth.svg)
div.locationsCareers svg circle
    opacity: 0
div.locationsCareers.whangarei svg circle.whangarei
    opacity: 1
div.locationsCareers.auckland svg circle.auckland
    opacity: 1
div.locationsCareers.hamilton svg circle.hamilton
    opacity: 1
div.locationsCareers.auckland svg circle.auckland
    opacity: 1
div.locationsCareers.tauranga svg circle.tauranga
    opacity: 1
div.locationsCareers.wellington svg circle.wellington
    opacity: 1
div.locationsCareers.christchurch svg circle.christchurch
    opacity: 1
div.locationsCareers.greymouth svg circle.greymouth
    opacity: 1
div.locationsCareers.dunedin svg circle.dunedin
    opacity: 1

div.catList.careers div.catItem > div
    padding: padStd padM padM padM
div.catList.careers div.cardTop
    padding-right: padXL

div.catList.careers div.catItem a.ctaButton
    margin-top: auto
    align-self: flex-start