//core layout
*.fullH
    min-height: fullH
    @media mtrigger
        min-height: fullH - navSpacer
*.largeH
    min-height: largeH
*.halfH
    min-height: halfH
*.smallH
    min-height: smallH  





    
@media dtrigger 
    article.grid.side-by-side div.content
        grid-template-columns: repeat(auto-fill, minmax(35vw, 1fr))
    article.grid.side-by-side div.content > section
        padding-left: padM
        padding-right: padM


@media dtrigger


    div.contentWrapper:last-of-type 
        margin-top: 5vw
    div.contentWrapper.modelGallery
        {test}
        position: relative
    div.content
        //{test1}
    div.innerContent
        padding-left: 8vw
        padding-right: 08vw
        display: flex
    div.innerContent.hasNav
        padding-left: 0
        padding-right: 0
    
    div.innerContent > div.inpageNav
        width: 8vw
        flex: 0 0 8vw
        display: flex
    div.innerContent > div
        display: flex
        flex-wrap: wrap
        flex: 1 1 auto
        column-gap: 1.5vw
    div.innerContent section
        padding: 3vw
        flex: 1 1 0px
    div.innerContent section.semilargerSec
        flex:1.5
    div.innerContent section.largerSec
        flex:2
    body > footer
        padding-left: 11vw
        padding-right: 11vw

    .cS 
        justify-content: flex-start
    .cC 
        justify-content: center
    .cE 
        justify-content: flex-end
    .rS 
        align-self: flex-start
    .rC 
        align-self: center
    .rE 
        align-self: flex-end
    .tS 
        text-align: left
    .tC 
        text-align: center
    .tE 
        text-align: right
    .fW
        flex-basis: 100% !important
    
    //columns inside section
    .columnsInsideSection
        display: flex
        column-gap: 3vw
    .columnsInsideSection > div
        flex: 1 1 auto
    



// darkMode
div.contentWrapper.darkMode
    background-color: brand0
    color: white
div.contentWrapper.brandMode
    background-color: brand1
    color: white

