//core layout
*.fullH
    min-height: fullH
    @media mtrigger
        min-height: fullH - navSpacer
*.largeH
    min-height: largeH
*.halfH
    min-height: halfH
*.smallH
    min-height: smallH  





    
@media dtrigger 
    article.grid.side-by-side div.content
        grid-template-columns: repeat(auto-fill, minmax(35vw, 1fr))
    article.grid.side-by-side div.content > section
        padding-left: padM
        padding-right: padM


@media dtrigger
    div.contentWrapper:last-of-type
        margin-top: 5vw
    div.contentWrapper.bodyContent
        margin-top: 3vw
        margin-bottom: 5vw
    div.slick-slider div.contentWrapper
        margin: 0
    div.content
        //{test1}
    div.innerContent
        padding-left: 8vw
        padding-right: 8vw
        display: flex
    div.innerContent.hasNav
        padding-left: 0
        padding-right: 0
    
    div.innerContent > div.inpageNav
        width: 8vw
        flex: 0 0 8vw
        display: flex
    div.innerContent > div
        display: flex
        flex-wrap: wrap
        flex: 1 1 auto
        column-gap: 1.5vw
    div.innerContent section
        padding: 3vw
        flex: 1 1 0px
    div.innerContent section.semilargerSec
        flex:1.5
    div.innerContent section.largerSec
        flex:2
    body > footer
        padding-left: 11vw
        padding-right: 11vw

    .cS 
        justify-content: flex-start
    .cC 
        justify-content: center
    .cE 
        justify-content: flex-end
    .rS 
        align-self: flex-start
    .rC 
        align-self: center
    .rE 
        align-self: flex-end
    .tS 
        text-align: left
    .tC 
        text-align: center
    .tE 
        text-align: right
    .fW
        flex-basis: 100% !important
    
    //columns inside section
    .columnsInsideSection
        display: flex
        column-gap: 3vw
        margin-bottom: 2em
    .columnsInsideSection > div
        flex: 1 1 50%



div.termsConditions
    padding-top: 3em
    padding-left: 11vw
    padding-right: 11vw
    color: blackAlp55
    font-size:90%
div.termsConditions h6
    margin-bottom: 0.5
@media dtrigger
    div.termsConditionsItem     
        max-width: 45vw
    



// darkMode
div.contentWrapper.darkMode
    background-color: brand0
    color: white
div.contentWrapper.brandMode
    background-color: brand1
    color: white
div.contentWrapper.darkMode div.innerContent > div.inpageNav i:before,
div.contentWrapper.brandMode div.innerContent > div.inpageNav i:before
    color: white
    transition: 0.3s
div.contentWrapper.darkMode div.innerContent > div.inpageNav a:hover i:before
    color: brand1
div.contentWrapper.brandMode div.innerContent > div.inpageNav a:hover i:before
    color: brand0

.spaceBetween
    display: flex
    justify-content: space-between
    align-items: center
.spaceBetweenVert
    display: flex
    justify-content: space-between
    flex-direction: column
.minHeightContent
    min-height: 40vh









/* item cat groups */
div.catList
    //{test}
    margin-bottom: 6em
div.catGroup
    //{test1}
div.catItem
    //{test2}
@media ttrigger
    div.catList.col3 div.catGroup
        display: grid
        grid-column-gap: 1.75vw;
        grid-row-gap: 2.75vw;
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr) )
    div.catList.col4 div.catGroup
        display: grid
        grid-column-gap: 2.5vw;
        grid-row-gap: 2.75vw;
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr) )
@media dtrigger
    div.catList.col3 div.catGroup
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr) )
        grid-auto-flow: row dense
        grid-auto-rows: min-content 
    div.catList.col4 div.catGroup
        display: grid
        grid-column-gap: 2.5vw;
        grid-row-gap: 2.75vw;
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr) )

div.catGroup .catItem
    transition: 0.2s
    position: relative
div.catGroup .catItem > a
    border: 1px solid blackAlp5
    box-shadow: 0px 0px 10px 0px blackAlp5
    padding: padXS padXS*0.75 3.5em padXS*0.75
    display: flex
    flex-direction: column
    align-self: stretch
    justify-content: space-between
    height: 100%
    position: relative
    text-decoration: none
@media dtrigger and (pointer: fine)
    div.catGroup .catItem:hover
        transform: translateY(-0.4em) 
        box-shadow: 0px 7px 15px 0px blackAlp10

div.brand 
    position: absolute
    top: padXXS
    left: padXXS
div.brand img
    max-height: 30px
    max-width: 80px
div.imageThumb
    height: 10vw
    //background-color: blackAlp5
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    margin-bottom: marXXS
div.landing div.imageThumb
    max-width: 9vw
    height:6vw
div.offer
    background-color: brand1
    color: white
    text-align: center
    font-size: 0.9em
    padding: 1em 0.5em
    position: absolute
    width: 100%
    left: 0
    bottom: 0
    box-shadow: 0px -5px 10px 0px blackAlp10
@media phoneRule
    div.imageThumb
        height: 40vw !important
        margin-bottom: 5vh !important
    div.landing div.imageThumb
        max-width: 100vw  !important
        height:60vw !important



