/*!
*
*
*
*
* responsive
*
*
*
*
*
*/

@media phoneRule // just phone
    #navHeader
        border-bottom: 1px solid brand1
    body > footer > div
        border-bottom: 1px solid brand1
        margin-bottom: 5vh
        padding-bottom: 3vh





@media mtrigger // up to tablet
    body > footer
        padding: 10vh 5vw 5vh 5vw
    body > footer > div:last-child
        border-bottom: none
    body > footer nav a
        margin-top: 0.5vh
        margin-bottom: 1vh




@media tabletRule and (orientation: landscape) // just tablet
    #navHeader
        border-bottom: 1px solid brand1
    body > footer > div
        margin-bottom: 3em



    
@media dtrigger
    body > footer
        padding-top: padL   
        padding-bottom: padL   
        display: flex
        align-items: flex-start
        flex-wrap: wrap
        column-gap: 5vw
    body > footer > div
        flex: 1 1 0px
    body > footer div.siteLogo
        margin-bottom: 2em
    body > footer > div:first-child
        flex:3




// responsive slick slider
@media phoneRule
    button.slick-arrow
        display: none !important
    div.mastheadSlider div.innerContent
        display: flex
        align-items: center
    body.home div.mastheadSlider div.innerContent
        //justify-content: center
    div.mastheadSlider div.innerContent
        padding: 15vw 10vw
    div.mastheadSlider div.content
        //background: none !important
        background-color: blackAlp50 !important
        background-image: url(/images/misc/arrowoverlay3-slider.webp) !important;
    div.bodyContent div.innerContent
        padding-top: 7vw
@media mtrigger
    div.innerContent
        padding-left: 8vw
        padding-right: 8vw
    div.innerContent section
        padding: 5vw 3vw
    div.contentWrapper.bodyContent:last-of-type
        margin-bottom: 5vh    
    div.mastheadSlider
        border-bottom:1px solid brand1
    div.mastheadSlider.galleryMobile,
    div.mastheadSlider.withOverlay
        border-bottom:none
    div.mastheadSlider div.innerContent.halfH
        min-height: 10vh
    div.mastheadSlider div.innerContent section
        display: none
        //max-height:50vh
    div.mastheadSlider div.innerContent section:first-child
        display: block
        height:100%
    div.mastheadSlider.galleryMobile div.contentWrapper
        //background-position: 100% 50%
        //background-size: cover
    div.mastheadSlider.galleryMobile div.content
        background: none !important 
    div.mastheadSlider.galleryMobile div.innerContent
        height: 50vh
@media tabletRule and (orientation: landscape)
    div.mastheadSlider.galleryMobile div.innerContent
        height: 50vw
     div.mastheadSlider div.innerContent
        padding: 7vw 40vw 7vw 10vw




// overlay slick slider content
@media mtrigger
    div.staticOverlayContent,
    div.staticOverlayContent2
        background-color: brand0 !important
        position: relative
    div.staticOverlayContent div.innerContent,
    div.staticOverlayContent2 div.innerContent
        min-height: 20vh
        border-bottom:1px solid brand1
    div.staticOverlayContent div.innerContent > div,
    div.staticOverlayContent2 div.innerContent > div
        padding-top: 10vw
        padding-bottom: 5vw
    @media tabletRule and (orientation: landscape)
        div.staticOverlayContent div.innerContent > div,
        div.staticOverlayContent2 div.innerContent > div
            padding-top: 5vw

    div.staticOverlayContent div.innerContent  section:last-child,
    div.staticOverlayContent2 div.innerContent  section:last-child
        display: none
    div.staticOverlayContent div.innerContent  section:first-child > div,
    div.staticOverlayContent2 div.innerContent  section:first-child > div
        border-bottom: none
        @media phoneRule
            padding-bottom: 5vw

    div.staticOverlayContent div.innerContent  section:first-child,
    div.staticOverlayContent2 div.innerContent  section:first-child
        margin-bottom:0
        padding-top: 5vw

    div.staticOverlayContent div.innerContent  section:first-child p,
    div.staticOverlayContent2 div.innerContent  section:first-child p,
    div.staticOverlayContent div.innerContent  section:first-child h6,
    div.staticOverlayContent2 div.innerContent  section:first-child h6,
    div.staticOverlayContent div.innerContent  section:first-child h1,
    div.staticOverlayContent2 div.innerContent  section:first-child h1
        margin:0


    div.mastheadSlider.withOverlay div.innerContent section:first-child
        margin-top:0
        padding-top: 5vw

    // add padding top to all mastheads to match above



    // model
@media mtrigger
    body.model div.innerContent > div.inpageNav
        display:none
    
    body.model div.innerContent .noPadTop
        padding-top: 5vw !important
    
    body.model section.brandLogo
        padding-top: 0
        padding-bottom: 0
        margin-top: 0
    
    body.model div.modelGallery 
        position: relative
        margin-top:-15vw
        margin-bottom: 5vw
    body.model div.galleryThumbs a
        flex-basis: auto
    body.model div.modelGallery div.innerContent > div
        display: flex
        flex-direction: column-reverse
    
    .columnsInsideSection div > br
        display: none
    .columnsInsideSection
        margin-bottom: 4em
    
    div.contentWrapper.brandMode
        padding: 5vh 0

@media tabletRule and (orientation: landscape)
    body.model div.modelGallery 
        margin-bottom: 0


// home mods
@media mtrigger
    .vertBorder
        border-top: none
        margin-top: 0
    body.home section.noPadTop img
        margin-top: 2em
    body.home .pbVideo
        margin-top: 5vh
@media tabletRule and (orientation: landscape)
    body.home section.noPadTop img
        max-width: 50%
@media mtrigger
    div.inpageTeaserBg
        margin-bottom: 2em
    div.inpageTeaserBg h2
        margin-bottom: 5px
    div.inpageTeaserBg div.m p
        color: brand0
        padding: 2vh 2.5vw
        max-width:95%
@media phoneRule
    div.inpageTeaserBg a.ctaButton
        display: block
        margin-bottom: 6px
@media tabletRule and (orientation: landscape)
    div.inpageTeaserBg a.ctaButton:first-of-type
        margin-left: 2.5vw

@media mtrigger
    body.catg div.masthead div.innerContent:first-of-type section:last-child
        display: none
    body.catg div.masthead div.innerContent.smallH
        min-height:20vh


