/*!
* generated using stylus - don't alter
*/

// libs and default 3rd party
@import 'nib'
// setup
//@import '../fonts/poppins/poppinsCustom.css'
@import '../fonts/twk/fontsCustom.css'

@require 'defaults.styl'
@require 'layout.styl'
@require 'elements.styl'
@require 'typo.styl'
@require 'header-footer.styl'
@require 'responsive.styl'
@require '2024.styl'




/* effects */
.multiply
    background-blend-mode: multiply
.bgoverlay0
    background-color: blackAlp10 !important
.bgoverlay1
    background-color: blackAlp25 !important
.bgoverlay2
    background-color: blackAlp55 !important
.bgoverlay3
    background-color: blackAlp75 !important

.greyscale
    background-color: rgba(0,0,0,0.30)
    filter:grayscale(100%)
    transition: 1s
.greyscaleLt
    filter:grayscale(0%)
    transition: 2.5s

.gradient0
    background-blend-mode: multiply
    background: linear-gradient(to right, blackAlp75,blackAlp5, blackAlp5) 
.gradient1
    background-blend-mode: multiply
    background: linear-gradient(to right, brand0, blackAlp50)
.gradient2
    background-blend-mode: multiply
    background: linear-gradient(to right, black ,blackAlp50, blackAlp10)    
.gradient3
    background-blend-mode: multiply
    background: radial-gradient(circle at center, blackAlp50,blackAlp50,blackAlp50,blackAlp75, blackAlp85 )

.blur
    filter:blur(10px)


// last in the cascade - highest prio
.m
    @media screen and (min-width: tBreakPoint)
        display: $hideItAll
.d
    @media screen and (max-width: tBreakPoint)
        display: $hideItAll

.nowrap
    white-space: nowrap

.fw-100 
    font-weight: 100
.fw-200 
    font-weight: 200
.fw-300 
    font-weight: 300
.fw-500 
    font-weight: 500
.fw-700 
    font-weight: 700
.fw-900 
    font-weight: 900

.hideMobile
    @media ttrigger
        display: $hideItAll