// typo defaults
a:link, a:visited
    color: brand1
    text-decoration: none
p a:link,
p a:visited,
li a:link,
li a:visited
    text-decoration: underline

.activeLink
    font-weight: 600 !important

// custom typo
ul
    margin-bottom: 2em
    padding-left: 1em

ul li
    font-size: 1em
    line-height: 1.4em
    margin-bottom: 0.4em
    list-style-type: disc

// picturefill-bg and image teaser
*.picturefill-background a
    color: brand1 
@media ttrigger
    *.picturefill-background.lighten1,
    *.picturefill-background.lighten1 a,
    *.picturefill-background.lighten2,
    *.picturefill-background.lighten2 a
    *.picturefill-background.darktext,
    *.picturefill-background.darktext a
        color: blackAlp50
    *.picturefill-background.lighttext,
    *.picturefill-background.lighttext a
        color: white      
*.picturefill-background a
    //text-decoration: underline



.activeLink, 
nav a:hover,
p a:hover,
li a:hover,
*.picturefill-background a:hover
    color: brand0 !important
    transition: 500ms
.activeLink,
nav a:hover
    border-bottom-color: brand2 !important


// nav typo
nav > *
    font-weight:500 !important
    font-size:0.9em !important
    padding: 0 padXXS*1.25

/* dark slider nav */    
body.darkSlider > header.fixed .siteLogo span,
body.darkSlider > header.fixed nav a.activeLink
    color: white !important
body.darkSlider > header.fixed nav a,
body.darkSlider > header.fixed nav a.ctaButton
    color: brand1 !important
    border-color: brand1 !important
body.darkSlider > header.fixed nav a:hover
    color: brand2 !important
    border-color: brand2 !important

/* light slider nav */    
body.lightSlider > header.fixed .siteLogo span,
body.lightSlider > header.fixed nav a.activeLink
    color: brand2 !important
body.lightSlider > header.fixed nav a,
body.lightSlider > header.fixed nav a.ctaButton
    color: brand1 !important
    border-color: brand1 !important
body.lightSlider > header.fixed nav a:hover
    color: brand2 !important
    border-color: brand1 !important
    
/* dark theme navs */ 
body.darkTheme > header.sticky .siteLogo span,
body.darkTheme > header.sticky nav a.activeLink
    color: brand2 !important
body.darkTheme > header.sticky nav a,
body.darkTheme > header.sticky nav a.ctaButton
    color: brand1 !important
    border-color: brand1 !important    
body.darkTheme > header.sticky nav a:hover
    color: white !important
    border-color: white !important


/* light theme navs */
body.lightTheme > header.sticky .siteLogo span,
body.lightTheme > header.sticky nav a.activeLink
    color: brand0 !important
body.lightTheme > header.sticky nav a,
body.lightTheme > header.sticky nav a.ctaButton
    color: brand3 !important
    border-color: brand3 !important    
body.lightTheme > header.sticky nav a:hover
    color: brand2 !important
    border-color: brand2 !important


h1, h2, h3, h4 ,h5, h6
    margin: 0
    margin-bottom: marXXS

// defaults   
h1
    font-weight: 700
    font-size: 3.5em
    line-height: 105%
    letter-spacing: -0.035em
h1 span
    font-weight: 300
h2
    font-weight: 600
    font-size: 3.2em
    line-height: 105%
    letter-spacing: -0.045em
h2 span
    font-weight: 300
    letter-spacing: -0.015em    
h3
    font-weight: 600
    font-size: 2em
    line-height: 115%
    letter-spacing: -0.035em
h3 span
    font-weight: 300
    letter-spacing: -0.01em    
h4
    font-weight: 600
    font-size: 1.7em
    line-height: 120%
    letter-spacing: -0.01em
h4 span
    font-weight: 400    
h5
    font-weight: 400
    font-size: 1.2em
    line-height: 125%
    letter-spacing: -0.02em
h5 span
    font-weight: 400
    letter-spacing: -0.01em      
h6
    font-weight: 500
    font-size:1.2em
    line-height: 130%
    letter-spacing: -0.015em
p
    font-weight: 400
    font-size: 1em
    line-height: 1.35em
    letter-spacing: -0.025em
    margin-top: 0em
strong 
    font-weight: 800
    letter-spacing: -0.015em

// modify typo
.small
    font-size: 0.7em    



// footer
body > footer p a
    font-size:1em
    line-height: 160%    
body > footer h6
    font-weight: 700
    font-size:1em
    line-height: 120%
    color: brand2


@media mtrigger
    h1
        font-size: 2em   
        line-height: 110%
    *.picturefill-background h1
        font-size: 2.2em   
        line-height: 110%    
    h2
        font-size: 2em
        line-height: 110%
        //width:85%
    h3
        font-size: 1.4em
        line-height: 110%
    h4
        font-size: 1.4em
        line-height: 110%
    h5
        font-size: 1.2em
        line-height: 110%
    h6
        font-size: 1.1em
        line-height: 110%

    p
        font-size: 1em
    h1, h2, h3, h4, h5, h6, p
        margin-bottom: 0.5em;








@media ttrigger 
    .secTitle
        font-size: 7em
        font-weight: 650
        letter-spacing: -0.045em
        text-indent: -0.08em
        color:brand1

.darkSlide p
    color: white


p.intro
    width auto
    @media dtrigger
        width:80%


div.sec2 a.extLink:link, 
div.sec2 a.extLink:visited
    color: sec2darker
    text-decoration: none

div.sec3 a.extLink:link, 
div.sec3 a.extLink:visited
    color: sec3darker
    text-decoration: none

div.sec4 a.extLink:link, 
div.sec4 a.extLink:visited
    color: sec4darker
    text-decoration: none